@keyframes slidein {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.slidein {
  animation: slidein 0.5s ease-out;
}

.fadein {
  animation: fadein 0.5s ease-out;
}
